fastapi==0.115.6
uvicorn==0.32.1
langchain-core==0.3.86
langgraph==0.2.60
langchain-ollama==0.2.3
ollama==0.6.2
langchain-aws==0.2.35
boto3
sqlalchemy
pandas
numpy
scikit-learn
xgboost
joblib
chromadb
python-dotenv
httpx
yfinance